body {
    font-family: sans-serif;
    font-size: 14px;
    background: #fbf5ff;
}
.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    background: #EDEFEB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}

.news-block {
    background: #FEFFFC;
    max-width: 1140px;
    width: 100%;
    padding: 10px;
    border: 1px solid #d7d5d5;
}
.news-block__title {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ed7171;
}
.news-block__title--detail {
    border-bottom: 1px dashed #000;
}
.news-block__title h1 {margin-bottom: 0;}
.news-block__news-item {
    margin-bottom: 15px;
}
.news-block__news-item__firest-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}

.news-block__news-item__firest-row div:first-child {
    margin-right: 10px;
    background: #832B5B;
    color: #fff;
    padding: 2px 6px;
}

.news-block__news-item__firest-row div:nth-child(2) {}

.pagination-block__title {
    margin-bottom: 10px;
    border-top: 1px dashed #ed7171;
}
.pagination-block__title--detail-title {
    border-top: 1px dashed #000;
}
.pagination-block__title h2 {    margin: 10px 0;}
.pagination-block__pages {
    display: flex;
    flex-wrap: wrap;
}
.pagination-block__pages a {
    display: flex;
    max-width: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 2px;
    text-decoration: none;
    box-sizing: border-box;
}
.pagination-block__pages a span {
    min-width: 25px;
    max-height: 20px;
    background: #EDEFEB;
    color: #000;
    padding: 2px 5px;
    border: 1px solid #d7d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-block__pages a.active span {
    background: #832B5B;
    color: #fff;
}